@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: inherit;
    font-size: inherit;
    line-height: 1.4;
    text-decoration: none;

    color: inherit;
}
html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    background-color: #d71920;
}
body {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;

    color: #1d1d1d;
    background-color: #ffdd00;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    border: 0px;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
main {
    flex-grow: 1;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* Clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    visibility: hidden;
}
input[type="search"]::-ms-reveal {
    display: none;
    visibility: hidden;
}
/* Clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
    visibility: hidden;
}
.container {
    width: 90%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2 {
    padding-top: 80px;
    padding-bottom: 16px;

    font-size: 24px;
    font-weight: 600;
}
.button,
link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 52px;
    padding: 16px;

    font-weight: 600;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s;
}
.button--red,
.link--red {
    color: #fff;
    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        #d71920;
    box-shadow: 0px 4px 16px rgba(230, 36, 43, 0.5);
}
.button--yellow,
.link--yellow {
    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        #ffdd00;
    box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.25);
}
.button:hover,
link:hover {
    box-shadow: none;
}
/** => decorative ellipses */
.ellipses-list {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    width: 100%;
    height: 100%;

    overflow: hidden;
}
.ellipses-item {
    position: absolute;
    border-radius: 50%;
}
.ellipses-item:first-child {
    top: 0px;
    right: -3%;

    width: 44%;
    height: 0px;
    margin-top: -12%;
    padding-top: 44%;

    background: radial-gradient(
        269.69% 100% at 50% 100%,
        rgba(230, 36, 43, 0.2) 0%,
        rgba(239, 105, 27, 0) 37.5%,
        rgba(255, 221, 0, 0) 100%
    );
    transform: rotate(30deg);
}
.ellipses-item:nth-child(2) {
    top: 336px;
    left: -12%;
    width: 40%;
    height: 0px;
    padding-top: 40%;
    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        linear-gradient(0deg, #d71920, #d71920), #c4c4c4;
    transform: rotate(90deg);
}
.ellipses-item:nth-child(3) {
    top: 912px;
    right: -50%;
    width: 100%;
    height: 0px;
    padding-top: 100%;
    background: radial-gradient(
        269.69% 100% at 50% 100%,
        rgba(230, 36, 43, 0.2) 0%,
        rgba(239, 105, 27, 0) 37.5%,
        rgba(255, 221, 0, 0) 100%
    );
    transform: rotate(118.95deg);
}
.ellipses-item:nth-child(4) {
    top: 2000px;
    left: -25%;
    width: 50%;
    height: 0px;
    padding-top: 50%;
    background: radial-gradient(
        269.69% 100% at 50% 100%,
        rgba(230, 36, 43, 0.2) 0%,
        rgba(239, 105, 27, 0) 37.5%,
        rgba(255, 221, 0, 0) 100%
    );
    transform: rotate(15deg);
}
.ellipses-item:last-child {
    top: 3600px;
    right: -40%;
    width: 100%;
    height: 0px;
    padding-top: 100%;
    background: radial-gradient(
        269.69% 100% at 50% 100%,
        rgba(230, 36, 43, 0.2) 0%,
        rgba(239, 105, 27, 0) 37.5%,
        rgba(255, 221, 0, 0) 100%
    );
    transform: rotate(118.95deg);
}
/** decorative ellipses <= */
/*! => adaptive */
@media screen and (max-width: 1443px) {
    /** extra large */
}
@media screen and (max-width: 1199px) {
    /** large */
}
@media screen and (max-width: 991px) {
    /** medium */
}
@media screen and (max-width: 767px) {
    /** small */
}
@media screen and (max-width: 575px) {
    /** extra small */
}
/*! adaptive <= */

/*! => header */
.header {
}
.header-container {
}
.header-top {
    display: flex;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 16px;

    border-bottom: 1px solid #ffe957;
}
.home-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.main-logo {
}
.header-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 64px;
    margin-right: 64px;
    margin-left: 64px;

    font-size: 16px;
}
.header-grid-item:hover {
}
.header-grid-item:first-child,
.header-grid-item:nth-child(2) {
    grid-row: 2/3;
}
.header-grid-item:nth-child(2) {
}
.header-grid-item:last-child {
    grid-row: span 2;
    text-align: end;
}
.header-grid-link:hover {
    color: #d71920;
}
.feedback-btn {
    flex-grow: 1;
    max-width: 310px;
}
.feedback-btn-icon {
}
.header-navigation {
    position: relative;

    height: 52px;
    margin-top: 16px;
    margin-bottom: 24px;

    background-color: #fff;
    border-radius: 8px;
}
.header-navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 40px;
    padding: 6px;
    min-width: max-content;
    height: 100%;

    overflow: hidden;
}
.header-navigation-item {
    display: flex;
    height: 100%;
}
.header-navigation-link {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 140px;

    border: none;
    background-color: transparent;

    cursor: pointer;
    transition: 0.3s;
}
.header-navigation-link:hover {
    color: #fff;
}
.header-navigation-link::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    display: block;
    height: 100%;
    width: 100%;

    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        #d71920;
    box-shadow: 0px 2px 8px rgb(29 29 29 / 25%);
    border-radius: 8px;

    transform: translateY(calc(100% + 12px));
    transition: 0.3s;
}
.header-navigation-link:hover::before {
    transform: translate(0%);
}
.header-navigation-link.current {
    font-weight: 600;
}
.products-navigation-wrapper {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
.products-navigation-close {
    position: fixed;
    top: 0px;
    left: 0px;

    display: block;
    height: 100%;
    width: 100%;

    background-color: transparent;
    backdrop-filter: brightness(0.4);
    border: none;

    z-index: -1;
    visibility: hidden;
}
.header-navigation.show .header-navigation-link--products::before {
    transform: translate(0%);
}
.header-navigation.show .header-navigation-link--products {
    color: #fff;
}
.header-navigation.show .products-navigation-close {
    z-index: 0;
    visibility: visible;
}
.products-navigation-list {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 32px;
    margin-top: 24px;
    margin-left: 720px;
    width: max-content;

    background: #ffffff;
    box-shadow: 0px 8px 128px #1d1d1d;
    border-radius: 8px;

    transform: translateY(100vh);
    transition: 0.3s;
}
.header-navigation.show .products-navigation-list {
    position: relative;

    transform: translateY(0vh);
}
.products-navigation-item {
}
.products-navigation-link {
}
.products-navigation-link:hover {
    color: #d71920;
}
/** => feedback modal */
.feedback-modal {
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    overflow: hidden;
    transform: translateY(0%);
    transition: 0.1s;
}
.feedback-modal.hidden {
    transform: translateX(100%);
}
.feedback-modal-inner {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    width: 72%;
    max-width: 848px;
    min-width: 600px;
    height: 88%;
    max-height: 720px;
    min-height: 528px;

    background: #ffdd00;
    box-shadow: 0px 8px 128px #1d1d1d;
    border-radius: 8px;
    overflow: hidden;
}
.feedback-modal-inner::before {
    content: "";
    position: absolute;
    top: 56px;
    left: 32px;
    z-index: -1;

    display: block;
    height: calc(100% - 88px);
    width: calc(100% - 70px);

    background-image: url("../img/dashes.png");
    background-size: cover;
}
.feedback-modal-inner::after {
    content: "";
    position: absolute;
    top: 56px;
    right: 32px;
    z-index: -1;

    display: block;
    height: calc(100% - 88px);
    width: 4px;

    background-image: url("../img/dashes.png");
    background-position-x: right;
    background-size: cover;
}
.feedback-close-btn {
    position: fixed;
    top: 0px;
    left: 0px;

    display: block;
    height: 100%;
    width: 100%;

    border: none;
    background-color: transparent;
    backdrop-filter: brightness(0.4);
}
.feedback-modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: -2;
}
.feedback-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 16px 54px;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.feedback-modal-title {
    padding: 0px;
}
.feedback-modal-text {
    max-width: 270px;
}
.feedback-logo {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: end;
}
.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 16px 0px;
    margin-bottom: 48px;
}
.feedback-label {
    display: flex;
}
.feedback-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;

    border: none;
    border-radius: 8px;
}
.feedback-input:focus {
    outline: none;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.feedback-btn-wrapper {
    position: relative;

    display: flex;
    height: 52px;

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 16px rgb(230 36 43 / 50%);
    transition: 0.1s;
}
.feedback-form.fail .feedback-btn-wrapper {
    box-shadow: 0px 4px 16px rgba(245, 158, 11, 0.5);
}
.feedback-form.success .feedback-btn-wrapper {
    box-shadow: 0px 4px 16px rgba(5, 150, 105, 0.5);
}
.feedback-btn-wrapper:hover {
    box-shadow: none;
}
.feedback-submit-btn {
    position: absolute;
    top: 0px px;
    left: 0px;

    width: 100%;
}
.feedback-fail-msg {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;

    color: #fff;
    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        linear-gradient(0deg, #f59e0b, #f59e0b), #e6e6e6;
    transform: translateX(100%);
    transition: 0.1s;
}
.feedback-fail-msg:hover {
    cursor: context-menu;
}
.feedback-form.fail .feedback-fail-msg {
    transform: translate(0%);
}
.feedback-success-msg {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;

    color: #fff;
    background: radial-gradient(
            269.69% 100% at 50% 100%,
            rgba(230, 36, 43, 0.2) 0%,
            rgba(239, 105, 27, 0.2) 37.5%,
            rgba(255, 221, 0, 0.2) 100%
        ),
        linear-gradient(0deg, #059669, #059669), #e6e6e6;
    transform: translateX(100%);
    transition: 0.1s;
}
.feedback-success-msg:hover {
    cursor: context-menu;
}
.feedback-form.success .feedback-success-msg {
    transform: translate(0%);
}
.feedback-modal-close {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    margin: 24px;

    border: none;
    background: transparent;
    cursor: pointer;
}
.feedback-footer {
    display: flex;
    margin-top: auto;
    margin-right: 64px;
    margin-bottom: 48px;
    margin-left: auto;
    gap: 0px 32px;

    font-size: 16px;
}
.feedback-hand {
    position: absolute;
    top: 460px;
    right: 260px;
    z-index: -1;

    width: 660px;

    filter: drop-shadow(0px 128px 128px rgba(29, 29, 29, 0.5));
    transform: matrix(-0.94, 0.33, 0.33, 0.94, 0, 0);
}
.feedback-footer-link {
}
.feedback-footer-link:hover {
    color: #d71920;
}
/** feedback modal <= */
/*! header <= */

/*! => adaptive */
@media screen and (max-width: 1169px) {
    .header-grid {
        grid-template-columns: auto auto;
    }
    .header-grid-item:first-child {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .header-grid-item:nth-child(2) {
        grid-column: 2/3;
        text-align: end;
    }
    .header-navigation-list {
        gap: 0px 6px;
    }
    .products-navigation-wrapper {
        width: 870px;
    }
    .products-navigation-list {
        padding: 16px;
        margin-top: 16px;
        margin-left: 584px;

        max-width: 330px;
    }
}
@media screen and (max-width: 982px) {
    .header-top {
        padding-top: 56px;
    }
    .home-link {
        height: 48px;
        max-width: 80px;
        min-width: 50px;
        width: auto;
    }
    .header-grid {
        margin-left: 16px;
        margin-right: 16px;
        gap: 0px 16px;

        font-size: 14px;
    }
    .feedback-btn {
        height: 48px;
        max-width: 48px;
        min-width: 48px;

        color: transparent;
        overflow: hidden;
    }
    .feedback-btn-icon {
        position: absolute;
    }
    .header-navigation {
        height: 48px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-navigation-list {
        justify-content: flex-start;
        width: max-content;
        min-width: 0px;
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .header-navigation-list::-webkit-scrollbar {
        display: none;
    }
    .header-navigation-list {
        gap: 0px 48px;
    }
    .header-navigation-link {
        width: max-content;
    }
    .header-navigation-link:hover {
        color: inherit;
    }
    .header-navigation-link:hover::before,
    .header-navigation.show .header-navigation-link--products::before {
        display: none;
    }
    .header-navigation.show .header-navigation-link--products {
        font-weight: 600;
        color: inherit;
    }
    .products-navigation-wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .products-navigation-list {
        margin-left: 0px;
    }
}
@media screen and (max-width: 666px) {
    .feedback-modal {
        align-items: flex-start;
        overflow-y: scroll;
    }
    .feedback-close-btn {
        display: none;
    }
    .feedback-modal-inner {
        height: 100%;
        min-height: 626px;
        max-height: 100%;
        width: 100%;
        min-width: 0px;
        max-width: 100%;
        padding-top: 48px;
        padding-right: 5%;
        padding-bottom: 32px;
        padding-left: 5%;
        border-radius: 0px;
        box-shadow: none;
    }
    .feedback-modal-inner::before {
        top: 48px;
        left: 0px;
        height: calc(100% - 80px);
        width: calc(90% - 6px);
        margin-left: 5%;
    }
    .feedback-modal-inner::after {
        top: 48px;
        right: 0px;
        height: calc(100% - 80px);
        width: 4px;
        margin-right: 5%;
    }
    .feedback-header {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 48px;
        margin-bottom: 16px;
        width: 80%;
    }
    .feedback-modal-title {
        margin-bottom: 8px;
    }
    .feedback-logo {
        order: -1;
        align-self: flex-start;
        margin-bottom: 30px;
    }
    .feedback-form {
        max-width: 80%;
        gap: 8px 0px;
        margin-bottom: 24px;
    }
    .feedback-modal-close {
        margin: 17px;
    }
    .feedback-footer {
        flex-direction: column;
        align-items: flex-end;
        width: 80%;
        margin-right: auto;
        margin-bottom: 16px;
    }
    .feedback-hand {
        top: 540px;
        right: 30%;
    }
    .feedback-modal-bg {
        transform: scale(1.5);
        right: 25%;
    }
}
@media screen and (max-width: 494px) {
    .header-grid {
        gap: 0px 0px;
    }
    .header-grid-item:last-child {
        display: none;
    }
}
/*! adaptive <= */


